/* -------------------------------------------------------------------------- */
/*                             Custom  variables                              */
/* -------------------------------------------------------------------------- */


/* ---------------------------------- Color --------------------------------- */
$theme-color: #998675;
$theme-color-hover: #c7b299;
$theme-color-active: #5b4e44;

/* ---------------------------------- Font ---------------------------------- */
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$primary-color: #555555;
$secondary-color: #8c8c8c;


