/* -------------------------------------------------------------------------- */
/*                             Custom  variables                              */
/* -------------------------------------------------------------------------- */


/* ---------------------------------- Color --------------------------------- */
$theme-color: #998675;
$theme-color-hover: #736357;
$theme-color-active: #5b4e44;

/* ---------------------------------- Font ---------------------------------- */
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;


